#register {
    .heading {
        text-align: center;
        margin-top: 40px;
    }

    .form-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
